#title {
    overflow: hidden; /* Evita que o texto vaze para fora do elemento */
    border-right: .15em solid #dba308; /* Cria um efeito de cursor */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    margin: 0 auto; /* Centraliza o título */
    letter-spacing: .15em; /* Adiciona um pequeno espaçamento entre as letras */
    animation: escrever 2s steps(35, end); /* Animação para o texto ser escrito */
  }
  
  /* Defina a animação de auto-escrita */
  @keyframes escrever {
    0% { width: 0; } /* Começa com largura 0 (texto invisível) */
    100% { width: 100%; } /* Termina um pouco antes da largura total do texto */
    100% { width: 78%; } /* Garante que a largura final seja 100% */
  }
  
  
  html,
  body {
    color: #f1f1f1;
    background-color: #222222;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  
  a {
    color: inherida;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }
  
  main {
    min-height: 100vh;
    padding: 4rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #2c2c2c;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #dba308;
    border-color: #dba308;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
